@import "compass/css3";
/* global */
body{
    background-color: rgb(16, 18, 20);
}

ul, ol{
    list-style: none;
    padding: 0;
}

#top-bar{
    padding: 12px 0;
    background-color: #313131;
    .inner {
        margin: 0 auto;
        max-width: 940px;
        overflow: hidden;
        #branding {
            float: left;
            width: 200px;
            padding: 8px 0 0;
            a{
                color: #d3d4d4;
            }
        }
        #add-widget {
            float: right;
            display: block;
            color: #fff;
            padding: 8px;
            cursor: pointer;
            font-size: 14px;
            text-decoration: none;
            background-color: #434343;
            text-transform: uppercase;
            @include transition-duration(0.2s);
            @include border-radius(3px);
            &:hover {
                background-color: #202020;
            }

        }
    }
    
}

/* widget style */
.widget{
    position: relative;
    header{
        background-color: rgb(39, 39, 39);
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
        text-shadow: 1px 1px rgb(14, 14, 14);
        line-height: 50px;
        text-indent: 20px;
        overflow: hidden;
        h1 {
            color: rgb(139, 139, 139);
            font-size: inherit;
            margin: 0;
            float: left;
        }
        span {
            float: right;
            button {
                background-color: rgb(39, 39, 39);
                color: rgba(139, 139, 139, 0.2);
                border: none;
                height: 51px;
                width: 40px;
            }
            button:hover {
                background-color: rgb(42, 42, 42);
                color: rgba(139, 139, 139, 1);
            }
            button:active {
                background-color: rgb(39, 39, 39);
                color: rgba(139, 139, 139, 0.2); 
            }
        }
    }
    .widget-body{
        position: absolute;
        top: 50px;  /* headers height */
        left: 0;
        right: 0;
        bottom: 0;
        h2 {
            margin: 0;
        }
        & > *{
            padding: 16px;
            color: rgb(211, 212, 212);
            text-shadow: 1px 1px rgb(14, 14, 14);
            font-family: Helvetica, Arial, sans-serif;
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        .countdown{
            display: block;
            text-align: center;
            margin-top: 120px;
            font-size:15px;
            b{
                font-weight: bold;
                font-size: 35px;
            }
        }
        .announcement{
            text-align: center;
            display: block;
        }
        .list{
            li{
                display: block;
                height:50px;
                margin-top: 10px;
                font-weight: bold;
                background: rgb(39, 39, 39);
                span{
                    padding: 0 25px;
                    float: left;
                    display: inline-block;
                    height: 50px;
                    &.fail{
                        background: #F5001D;
                    }
                    &.pass{
                        background: #2dd700;
                    }
                }
                img{
                    display: block;
                    float:left;
                    width: 50px;
                    height: 50px;
                }
                .title{
                    margin-left: 55px;
                }
                .time{
                    margin-left: 55px;
                    font-weight: normal;
                }
                .stat{
                    margin-left: 55px;
                    font-weight: normal;
                    font-size: 15px;
                }
            }
        }
        .delta{
            display: block;
            font-size: 26px;
            margin-left: 40px;
            .up{
                color: #3ebb6e;
            }
            .equal{
                color: yellow;
            }
            .down{
                color: #ff0000;
            }
        }
        .sum{
            display: block;
            margin-left: 40px;
            margin-top: 95px;
            .sub{
                font-size: 24px;
            }
        }
    }
}

/* gridster styles */
.gridster {
    margin: 0 auto;
    width: 94%;
    opacity: 0.8;
    @include transition-duration(0.6s);
    .gs_w {
        /*layout elements*/
        cursor: pointer;
        background-color: rgb(42, 42, 42);
        @include box-shadow(rgba(0,0,0,0.3) 0 0 5px);
    }
    .player {
        /*draging element*/
        @include box-shadow(rgba(0,0,0,0.3) 3px 3px 5px);
    }
    .preview-holder {
        /*target holder element*/
        border: none!important;
        border-radius: 0!important;
        background: rgba(255,255,255,0.2)!important;
    }
}

/*line chart*/
path.line {
    fill: rgba(184,179,255,0.1);
    stroke: #b8b3ff;
    stroke-width: 1.5px;
}
text.subtitle{
    font-size: 26px;
    fill: #d3d4d4;
}

/* Picture */
.picture {
    display: block;
    img{
        max-height:100%;
        max-width: 100%;
    }
}