// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #007241;
$value-color:       #fff;

$title-color:       rgba(255, 255, 255, 0.7);
$label-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-issuecycle styles
// ----------------------------------------------------------------------------
.widget-issuecycle {

  background-color: $background-color;

  .header {
    font-size: 30px;
    color: $title-color;
    margin-bottom: 10px;
    text-align: center;
  }

  .name {
    padding-left: 5px;
  }

  .comment-container {
    display: none;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }

  .more-info {
    color: $moreinfo-color;
  }

  .issue {
    font-size: 25px;
    float: left;
    font-weight: 600;
    color: $value-color; 
  }

  .assignee {
    font-size: 25px;
    float: right;
    margin-left: 12px;
    font-weight: 600;
    color: $value-color;
  }

  .comment {
    font-size: 25px;
    text-align: left;
    color: $label-color;
    margin-top: 12px;
  }

}
