<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">

<h2 class='offset1'><i class='icon-gears'></i> Configuration</h2>

<hr />

<div class="row-fluid">
    <div class="span3 offset1">

    <form name='form' novalidate>

        <label><strong>Title</strong></label>
            <input class='span' type='text' ng-model='widget.config.title' required>

        <label><strong>Source</strong></label>
            <select class='span' ng-model='widget.config.source' required>
                <option disabled value='pick'>Pick one...</option>
                <option value=''>None</option>
                <option ng-repeat='item in sources' value='{{item.value.name}}'>{{item.value.name}}</option>
            </select>

        <label><strong>Add Content</strong></label>
            <label class="radio inline">
                <input type="radio" name="optionsRadios" value="data" ng-model='content.type'>
                Source Data
            </label>
            <label class="radio inline">
                <input type="radio" name="optionsRadios" value="static" ng-model='content.type'>
                Static Data
            </label>
            <label>Template</label>
            <select class='span' ng-model='content.template' required>
                <option disabled value=''>Pick one...</option>
                <option ng-repeat='(key, value) in dbWidgets' value='{{key}}'>{{key}}</option>
            </select>
            <label>Refresh</label>
                <input class='span' type="number" ng-model='content.refresh'>
            <div ng-repeat='(key, value) in dbWidgets[content.template] track by $id($index)'>
                <label>{{key}}</label>
                    <input class='span' type='{{value}}' ng-model='content.options[key]'></input>
            </div>
            <button class='btn btn-primary' ng-click='contentAdd(content)'>Add</button>

        <label><strong>Layout</strong></label>
            <input class='span' type='number' ng-model='widget.layout.row' placeholder='Row Position' required>
            <input class='span' type='number' ng-model='widget.layout.column' placeholder='Column Position' required>
            <input class='span' type='number' ng-model='widget.layout.width' placeholder='Width Size' required>
            <input class='span' type='number' ng-model='widget.layout.height' placeholder='Height Size' required>

        <button class='btn btn-primary btn-block btn-large' ng-click='addWidget(widget)'>
            <i class='icon-ok'></i> 
            Add Widget
        </button>
    </form>


    </div>

    <div class="span7">
Widget
<pre>
{{widget | json}}
</pre>

        <div class='optionsList span4' ng-show='options.template1'>
            <ul>
                <li>{{options.template1}} Options</li>
                <li ng-repeat="item in template1">
                    Option: {{item.key}}
                    <br />
                    Value: {{item.value}}
                    <div class='action'>
                        <a href="" ng-click="template1Remove($index)">
                            <i class='icon-remove icon-large'></i>
                        </a>
                    </div>
                </li>
            </ul>
        </div>

        <div class='optionsList span4' ng-show='options.template2'>
            <ul>
                <li>{{options.template2}} Options</li>
                <li ng-repeat="item in template2">
                    Option: {{item.key}}
                    <br />
                    Value: {{item.value}}
                    <div class='action'>
                        <a href="" ng-click="template2Remove($index)">
                            <i class='icon-remove icon-large'></i>
                        </a>
                    </div>
                </li>
            </ul>
        </div>

    </div>

</div>

