<header id="top-bar"> 
    <div class="inner"> 
        <div id="branding"> 
            <a href="/"> Dashy </a> 
        </div>
        <a class="btn navbtn" ng-click="open()">
            Add widget
        </a>

        <a class="btn navbtn" ng-hide="locked" ng-click="lock()">
            <i class="icon-unlock-alt icon-large"></i>
        </a>

        <a class="btn navbtn" ng-show="locked" ng-click="unlock()">
            <i class="icon-lock icon-large"></i>
        </a>

        <a class="btn navbtn" ng-click="refresh()">
            <i class="icon-refresh icon-large"></i>
        </a>
    </div>
</header>

<!-- Add Widget Modal -->
<div modal="shouldBeOpen" close="close()" options="opts">
    <div class="modal-header">
        <h3>Add Widget</h3>
    </div>
    <div class="modal-body">
        <ng-include ng-controller="AddCtrl" src="'partials/addwidget.html'"></ng-include>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
    </div>
</div>