<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">

<h2 class='offset1'><i class='icon-wrench'></i> Updating Widget: <span ng-bind="thisTitle"><i class="icon-spinner icon-spin"></i></span></h2>

<hr />

<div class="row-fluid">
    <div class="span3 offset1">

    <form name='form' novalidate>

        <label>ID</label>
            <input class='span' type='text' ng-model='widget._id' disabled>

        <label>Refresh</label>
            <input class='span' type='number' ng-model='widget.config.refresh' required>

        <label>Title</label>
            <input class='span' type='text' ng-model='widget.content.title' required>

        <!-- Source -->
        <label class="checkbox">
            <input type="checkbox" ng-model='updateSource'>
            Update Source
        </label>
            <select class='span' ng-model='widget.config.source' required ng-show='updateSource'>
                <option value=''>None</option>
                <option ng-repeat='item in sources' value='{{item.id}}'>{{item.id}}</option>
            </select>

        <!-- Templates -->
        <label class="checkbox">
            <input type="checkbox" ng-model='updateTemplates'>
            Update Templates
        </label>
            <select class='span' ng-model='options.template1' required ng-show='updateTemplates'>
                <option disabled value=''>Pick one...</option>
                <option ng-repeat='(key, value) in dbWidgets' value='{{key}}'>{{key}}</option>
            </select>
            <select class='span' ng-model='options.template2' ng-show='updateTemplates'>
                <option value='undefined'>No Change</option>
                <option ng-repeat='(key, value) in dbWidgets' value='{{key}}'>{{key}}</option>
            </select>

        <label class="checkbox" ng-show='updateTemplates'>
            <input type="checkbox" ng-model='options.remove'>
            <i class='icon-trash'></i> Remove 2nd Template?
        </label>

        <!-- Template 1 Options -->
        <div ng-show='options.template1'> 
            <label>{{options.template1}} Options</label>
                <select class='span' ng-model='template1.key'>
                    <option value=''>Choose option</option>
                    <option ng-repeat='(key, value) in dbWidgets[options.template1] track by $id($index)' value='{{key}}'>{{key}}</option>
                </select>
                <div ng-show='template1.key' class='input-append'>
                    <input class='span' type='{{dbWidgets[options.template1][template1.key]}}' ng-model='template1.value' placeholder='Enter value'>
                    <button class='btn' ng-click='template1Add(template1)'>Add</button>
                </div>
        </div>

        <!-- Template 2 Options -->
        <div ng-show="options.template2">
            <label>{{options.template2}} Options</label>
                <select class='span' ng-model='template2.key'>
                    <option value=''>Choose option</option>
                    <option ng-repeat='(key, value) in dbWidgets[options.template2] track by $id($index)' value='{{key}}'>{{key}}</option>
                </select>
                <div ng-show='template2.key' class='input-append'>
                    <input class='span' type='{{dbWidgets[options.template2][template2.key]}}' ng-model='template2.value' placeholder='Enter Value'>
                    <button class='btn' ng-click='template2Add(template2)'>Add</button>
                </div>
        </div>

        <label>Layout</label>
            <input class='span' type='number' ng-model='widget.layout["data-row"]' placeholder='Row Position' required>
            <input class='span' type='number' ng-model='widget.layout["data-col"]' placeholder='Column Position' required>
            <input class='span' type='number' ng-model='widget.layout["data-sizex"]' placeholder='Width Size' required>
            <input class='span' type='number' ng-model='widget.layout["data-sizey"]' placeholder='Height Size' required>

        <button class='btn btn-success btn-block btn-large' ng-click='updateWidget(widget, options)'>
            <i class='icon-refresh icon-spin'></i> 
            Update Widget
        </button>
    </form>


    </div>

    <div class="span7">
Widget
<pre>
{{widget | json}}
</pre>

        <div class='optionsList span4' ng-show='options.template1'>
            <ul>
                <li>{{options.template1}} Options</li>
                <li ng-repeat="item in template1">
                    Option: {{item.key}}
                    <br />
                    Value: {{item.value}}
                    <div class='action'>
                        <a href="" ng-click="template1Remove($index)">
                            <i class='icon-remove icon-large'></i>
                        </a>
                    </div>
                </li>
            </ul>
        </div>

        <div class='optionsList span4' ng-show='options.template2'>
            <ul>
                <li>{{options.template2}} Options</li>
                <li ng-repeat="item in template2">
                    Option: {{item.key}}
                    <br />
                    Value: {{item.value}}
                    <div class='action'>
                        <a href="" ng-click="template2Remove($index)">
                            <i class='icon-remove icon-large'></i>
                        </a>
                    </div>
                </li>
            </ul>
        </div>

    </div>

</div>