<ul>
    <li class="widget" ng-repeat="widget in widgets">
        <header>
            <h1>{{widget.value.config.title}}</h1>

            <span>
                <button ng-click='updateWidget(widget.id, widget.key)'>
                    <i class='icon-wrench icon-large'></i>
                </button>
                <button ng-click='deleteWidget(widget.id)'>
                    <i class='icon-trash icon-large'></i>
                </button>
            </span>

        </header>
        <widget
            templates={{widget.value.content}}
            layout={{widget.value.layout}}>
        </widget>
    </li>
</ul>
