<section id='prompt' ng-show='showAdmin'>
  <header class='header'>
    <h2 ng-if='adding'>Adding Widget</h2>
    <h2 ng-if='updating'>Updating {{widget.config.title}}</h2>
    <button ng-click='cancel()'>Cancel</button>
    <button ng-click='save()'>Save</button>
  </header>

  <section class='body'>
    <!-- META -->    
    <section class='meta'>
      <div class='field'>
        <label>Name</label>
        <input type='text' ng-model='widget.config.title'>
      </div>

      <div class='field'>
        <label>Position</label>
        Row<input type='number' ng-model='widget.layout.row'>
        Column<input type='number' ng-model='widget.layout.column'>
        Width<input type='number' ng-model='widget.layout.width'>
        Height<input type='number' ng-model='widget.layout.height'>
      </div>
    </section>

    <!-- CONTENT -->
    <section class='content'>
      <h3>Add Content</h3>
      <div class='blocks'>
        <a class='linechart' ng-click='test("linechart")'>Linechart</a>
        <a class='guage' ng-click='test("gauge")'>Gauge</a>
        <a class='countdown' ng-click='test("countdown")'>Countdown</a>
        <a class='sum' ng-click='test("sum")'>Sum</a>
        <a class='delta' ng-click='test("delta")'>Delta</a>
        <a class='markdown' ng-click='test("markdown")'>Markdown</a>
      </div>

      <h3>Current Content</h3>
      <article ng-repeat='item in widget.content'>
        {{ item.template }} - {{ item.source }} - {{ item.refresh }}
        <button ng-click='contentRemove($index)'>Delete</button>
        <button ng-click='contentEdit($index)'>Edit</button>
      </article>
    </section>

    <!-- OPTIONS -->
    <section class='options' ng-show='editingContent'>
      <h3>Edit Content</h3>

      <div class='field'>
        <label>Source</label>
        <select type='text' ng-model='content.source'>
          <option disabled value=''>Pick one...</option>
          <option value='none'>None</option>
          <option ng-repeat='item in sources' value='{{item.value.name}}'>{{item.value.name}}</option>
        </select>
      </div>

      <div ng-repeat='(key, value) in dbWidgets[content.template] track by $id($index)'>
        <div class='field'>
          <label>{{key}}</label>
          <input type='{{value}}' ng-model='content.options[key]'>
        </div>
      </div>

      <button ng-click='contentUpdate()'>Update</button>
    </section>
  </section>

  <footer class='footer'>
    <button ng-click='delete()'>Delete</button>
    <button ng-click='cancel()'>Cancel</button>
    <button ng-click='save(widget)'>Save</button>
  </footer>
</section>