<div id='prompt'>

  <section class='header'>
    <button>Delete</button>
    <h2>Title</h2>
    <button>Cancel</button>
    <button>Save</button>
  </section>

  <section class='meta'>
    
    <label>Title</label>
      <input type='text' ng-model='widget.config.title'>

    <label>Position</label>
      <input type='number' ng-model='widget.layout.row' placeholder='Row'>
      <input type='number' ng-model='widget.layout.column' placeholder='Column'>
      <input type='number' ng-model='widget.layout.width' placeholder='Width'>
      <input type='number' ng-model='widget.layout.height' placeholder='Height'>

  </section>

  <section class='content'>
    
    <!-- List of template icons -->

    

  </section>

  <section class='options'></section>

</div>