<section id='prompt' ng-show='showAdmin' style='color:white;'>
  <header class='header'>
    <h2 ng-if='adding'>Adding Widget</h2>
    <h2 ng-if='updating'>Updating {{hash}}</h2>
    <button ng-click='cancel()'>Cancel</button>
    <button ng-click='save()'>Save</button>
  </header>

  <section class='body'>
    <!-- META -->    
    <section class='meta'>
      <div class='field'>
        <label>Name</label>
        <input type='text' ng-model='widget.config.title'>
      </div>

      <div class='field'>
        <label>Position</label>
        Row<input type='number' ng-model='widget.layout.row'>
        Column<input type='number' ng-model='widget.layout.column'>
        Width<input type='number' ng-model='widget.layout.width'>
        Height<input type='number' ng-model='widget.layout.height'>
      </div>
    </section>

    <!-- CONTENT -->
    <section class='content'>
      <h3>Add Content</h3>
      <ul class='add-block'>
        <li class='chart'>Linechart</li>
        <li class='gauge'>Gauge</li>
        <li class='countdown'>Countdown</li>
        <li class='sum'>Sum</li>
        <li class='delta'>Delta</li>
        <li class='markdown'>MarkDown</li>
      </ul>

      <h3>Current Content</h3>
      <article ng-repeat='item in widget.content'>
        {{ item.template }} - {{ item.source }} - {{ item.refresh }}
        <button>Delete</button>
        <button>Edit</button>
      </article>
    </section>

    <!-- OPTIONS -->
    <section class='options'>
      <h3>Edit Content</h3>

      <div class='field'>
        <label>Source</label>
        <select type='text' ng-model='DEFINE_SELECTED_WIDGET.source'>
          <option disabled value=''>Pick one...</option>
          <option value='none'>None</option>
          <option ng-repeat='item in sources' value='{{item.value.name}}'>{{item.value.name}}</option>
        </select>
      </div>

      <div ng-repeat='(key, value) in dbWidgets[DEFINE_SELECTED_WIDGET.template] track by $id($index)'>
        <div class='field'>
          <label>{{key}}</label>
          <input type='{{value}}' ng-model='DEFINE_SELECTED_WIDGET.options[key]'>
        </div>
      </div>
    </section>
  </section>

  <footer class='footer'>
    <button ng-click='delete()'>Delete</button>
    <button ng-click='cancel()'>Cancel</button>
    <button ng-click='save()'>Save</button>
  </footer>
</section>