<!doctype html>
<html lang="en" ng-app="Dashboard">
<head>
    <meta charset="utf-8">
    <title>Dashy</title>
    <!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.gridster.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<body>
    <ng-include ng-controller="NavCtrl" src="'partials/header.html'"></ng-include>
    <ng-view></ng-view>

<!--     <div ng-controller="ModalDemoCtrl">
        <button class="btn" ng-click="open()">Open me!</button>
        <div modal="shouldBeOpen" close="close()" options="opts">
            <div class="modal-header">
                <h3>Add Widget</h3>
            </div>
            <div class="modal-body">
                <ng-include ng-controller="AddCtrl" src="'partials/addwidget.html'"></ng-include>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
            </div>
        </div>
    </div> -->

    <!-- lib -->
    <script type="text/javascript" src="lib/jquery-2.0.0.min.js"></script>
    <script src="lib/angular-1.1.5.min.js"></script>
    <script src="lib/moment.min.js"></script>
    <script src="lib/ui-bootstrap-custom-tpls-0.5.0.min.js"></script>

    <!-- charts -->
    <script type="text/javascript" src="lib/d3.v3.min.js"></script>

    <!-- layout -->
    <script type="text/javascript" src="lib/jquery.gridster.min.js"></script>

    <!-- routers -->
    <script src="js/routes.js"></script>

    <!-- controllers -->
    <script src="js/controllers/main_controller.js"></script>
    <script src="js/controllers/admin_controller.js"></script>

    <!-- factories -->
    <script src="js/factories/widgets_factory.js"></script>

    <!-- directives -->
    <script src="js/directives/tags_directives.js"></script>
    <script src="js/directives/charts_directives.js"></script>

    <!-- filters -->
    <script src="js/filters/filters.js"></script>
    
    <!-- common functions -->
    <script src="js/factories/formatters.js"></script>

    <!-- utils -->
    <script src="js/utils/utils.js"></script>

    <!-- Config -->
    <script src="js/config/config.json"></script>
</body>
</html>
