<!doctype html>
<html lang="en" ng-app="Dashboard">
<head>
  <meta charset="utf-8">
  <title>Dashy</title>

  <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
  <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">


  <!-- compiled JS --><% scripts.forEach( function ( file ) { %>
  <script type="text/javascript" src="<%= file %>"></script><% }); %>

<body>
  <ng-include ng-controller="NavCtrl" src="'navbar/navbar.tpl.html'"></ng-include>
  <ng-view></ng-view>

</body>
</html>