<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
});
</script>

<% content_for(:title) { "testdash" } %>

<div class="gridster">
  <ul>
    <!-- Dashboard to test new widgets, remove old ones before adding new ones        -->
    <!-- Copy widgets from other dashboards to compare the new widget with old ones   -->
  </ul>
</div>