<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
});
</script>

<% content_for(:title) { "Wiredash" } %>

<div class="gridster">
  <ul>
    <!-- Dashboard to test new widgets, remove old ones before adding new ones        -->
    <!-- Copy widgets from other dashboards to compare the new widget with old ones   -->


    <!-- Twitter Feed -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Twitter" style="background-color:#71388a;" data-moreinfo="Tweets mentioning @wiredcraft"></div>
      <i class="icon-twitter icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="hacker_news" data-view="Hn" data-moreinfo="Newest from Hacker News">
    </li>

    
  </ul>
</div>