<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
});
</script>

<% content_for(:title) { "Wiredash" } %>

<div class="gridster">
  <ul>
    
    <!-- Announcements -->
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="shout" data-view="Text" data-title="Announcement!" data-text="I am your dashboard. Bow before my might!" data-moreinfo="curl -d ''{ 'auth_token': 'wiredauth', 'text': 'Change the announcement!' }'' \http://<%=request.host%>:<%=request.port%>/widgets/shout"></div>
    </li>

    <!-- Time -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>

    <!-- Weather -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="weather" data-view="Weather"></div>
    </li>
    
    <!-- Twitter Feed -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Twitter" style="background-color:#71388a;" data-moreinfo="Tweets mentioning @wiredcraft" data-extrainfo="updated every minute"></div>
      <i class="icon-twitter icon-background"></i>
    </li>

    <!-- Issue List -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="github_issues" data-view="List" data-title="Open Issues @ Wiredcraft" style="background-color:#71388a;"></div>
    </li>

    <!-- Last Issue in Repo -->
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="gh_last_issue" data-view="Issue" data-title="Latest Issue - Embarq"></div>
    </li>

    <!-- Latest Milestone in Repo -->
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="gh_milestone" data-view="Milestone"></div>
    </li>

  </ul>
</div>