<ul>
    <!-- Include Widget Modal -->
    <!-- <ng-include src="'modal_update/updateModal.tpl.html'"></ng-include> -->
    <li class="widget" ng-repeat="widget in widgets">
        <header>
            <h1>{{widget.value.config.title}}</h1>

            <span>
                <button ng-click='open(widget.id, widget.key)'>
                    <i class='icon-cog icon-large'></i>
                </button>
                <button ng-click='deleteWidget(widget.id)'>
                    <i class='icon-trash icon-large'></i>
                </button>
            </span>

        </header>
        <widget
            templates={{widget.value.content}}
            layout={{widget.value.layout}}>
        </widget>
    </li>
</ul>

