<ul>
  <!-- Include Widget Modal -->
  <!-- <ng-include src="'modal_update/updateModal.tpl.html'"></ng-include> -->
  <li class="widget" ng-repeat="widget in widgets">
    <header class='header'>
      <div class='options'>
        <a ng-click='edit(widget.id, widget.key)' class='settings'><span>Settings</span></a>
        <a ng-click='deleteWidget(widget.id)' class='delete'><span>Delete</span></a>
      </div>
      <h1>{{widget.value.config.title}}</h1>
    </header>
    <widget class='body'
      templates={{widget.value.content}}
      layout={{widget.value.layout}}>
    </widget>
  </li>
</ul>