/* Rickshaw */
.rickshaw_graph {
  position: absolute;   
  .x_axis {
    position: absolute;
    top: 90%;
    bottom: 0;
  }
  .y_axis {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -10px;
    width: 40px;
  }
  svg {
    path {
      stroke: $primary;
    }
    .x_grid_d3 {
      .tick{
        line{
          display: none;
        }
      }
    }
    .y_grid {
      .tick {
        line {
          stroke-dasharray: none;
          stroke: $border;
          z-index: -100;
        }
      }
    }
    .y_ticks,
    .x_ticks_d3 {
      path {
        stroke: none;
      }
      text {
        fill: $light;
        stroke: none;
      }
    }
  }
}