/* Compass */

@import 'compass/css3';
@import 'compass/css3/border-radius';
@import 'compass/css3/filter';
@import 'compass/css3/transition';
@import 'compass/css3/transform';
@import 'compass/utilities/general/clearfix';
@import 'compass/css3/user-interface';

/* Variables (colors, layout, spacing & typography) */

@import '_variables.scss';

/* GENERAL */

html {
  font-size: 62.5%;
}

body {
  background: $black;
  color: #FFF;
  font-family: 'Roboto', Arial, sans-serif;
  @include font-size();
  font-weight: 300;
  line-height: 140%;
  padding: $gutter;
  position: relative;
}

a {
  cursor: pointer;
  color: $blue;
  text-decoration: none;
  &:hover {
    color: shade($blue, 10%);
  }
}


h1,
h2,
h3,
h4,
h5,
h6 {
  color: #FFF;
  font-weight: inherit;
  line-height: 1;
  margin: 0;
}

h1 {
  @include font-size($huge);
}

h2 {
  @include font-size($large);
}

h3,
h4,
h5,
h6 {
  @include font-size($normal);
}

p {
  margin: 0 0 $gutter;
}

ul {
  margin: 0 0 $gutter/2 $gutter;
  padding: 0;
  li {
    padding: 0 0 $gutter/2;
  }
}

small {
  @include font-size($small);
}


/* WIDGETS */

#widgets {
  .widget {
    background: tint($black, 5%);
    @include border-radius($radius);
    display: inline-block;
    .header {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding: $gutter/2;
      h2 {
        @include font-size($small);
        margin: 0;
        opacity: 0.8;
        text-transform: uppercase;
      }
    }
    .body {
      display: block;
      position: relative;
    }
    &.alert {
      background: $red;
    }
    &.warning {
      background: $orange;
    }
    &.ok {
      background: $green;
    }
    &.info {
      background: $blue;
    }
    &.undefined {
      background: $purple;
    }
  }
}

/* Gauge */

.gauge {
  .body {
    h2 {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      text-align: center;
      @include transform(translateY(-50%));
      top: 50%;
      vertical-align: middle;
      strong {
        @include font-size($gigantic);
        font-weight: inherit;
      }
    }
    .background {
      fill: #FFF;
      opacity: 0.5;
    }
    .arc {
      fill: #FFF;
    }
  }
}

/* Line chart */

.linechart {
  .body {
    .line {
      fill: none;
      stroke: #FFF;
    }
  }
}
