<section class='countdown'>
    <div class='cell'>
        <div class='days'>
            <div>{{date.days}}</div>
            <span>DAYS</span>
        </div> 
        <div class='hours'>
            <div>{{date.hours}}</div>
            <span>HRS</span>
        </div>
        <div class='minutes'>
            <div>{{date.minutes}}</div>
            <span>MIN</span>
        </div>
        <div class='seconds'>
            <div>{{date.seconds}}</div>
            <span>SEC</span>
        </div>
    </div>
</section>
